.jumbotron {
    background-color: cadetblue;
    color: white;
    margin-top: 50px;
}

footer {
    background-color: cadetblue;
    color: white;
}

.btn {
    background-color: black;
    color: white;
    width: 100%;
}

.info {
    color: white;
}

.tarjeta-hotel {
    flex: 1 100px;
    padding: 2px 5px 2px 5px;
    background-color: wheat;
}

.footer-icon {
    padding-right: 10px;
}

.button-icon {
    padding-right: 10px;
    color: rosybrown;
}